<!DOCTYPE html>
<html lang="zh-CN" ng-app="baseapp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/css/default.css" rel="stylesheet" type="text/css">
    <link href="/public/responsive-nav.js-master/responsive-nav.css" rel="stylesheet" type="text/css">
    <link href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title></title>
  </head>
  <body>
    <div id="navigation" role="navigation" class="nav-collapse">
      <ul>
        <li class="atcive"><a href="/">HOME</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/register">REGISTER</a></li>
      </ul>
    </div>
    <div role="main" class="main"><a href="#nav" class="nav-toggle">Menu</a>
      <div class="main-container">
        <h1>这里是个人主页</h1>
        <div style="height:100em" name="zhandifang"></div>
      </div>
    </div>
    <script src="/public/responsive-nav.js-master/responsive-nav.js"></script>
    <script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
    <!--script(src='/public/bower_components/bootstrap/dist/js/bootstrap.min.js')-->
    <script src="/public/bower_components/angular/angular.min.js"></script>
    <script src="/controllers/base_controller.js"></script>
    <script>var navigation = responsiveNav("navigation",{customToggle: ".nav-toggle"})</script>
  </body>
</html>