extend ./layout/default

block title
    title #{title}

block header
    header
        h1 #{title}

block main-content
    if name
        span
            | hello
            a(href='/')=name
            
