<!DOCTYPE html>
<html lang="zh-CN" ng-app="baseapp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/css/default.css" rel="stylesheet" type="text/css">
    <title></title>
  </head>
  <body>
    <header>
      <h1></h1>
    </header>
    <nav><span><a title="主页" href="/">Home</a></span><span><a title="登陆" href="/login">login</a></span><span><a title="注册" href="/register">register</a></span>
    </nav>
    <div class="main-container">
      <form ng-controller="loginController">
        <label>用户名或邮箱</label>
        <input type="text" ng-model="account"><br>
        <label>登陆密码</label>
        <input type="password" ng-model="password"><br>
        <input type="submit" ng-click="userLogin()">
      </form>
    </div>
    <script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/public/bower_components/angular/angular.min.js"></script>
    <script src="/controllers/base_controller.js"></script>
  </body>
</html>