extend ./layout/default

block title
    title #{title}

block main-content
    form(style="padding-top:10em; max-width: 30em; margin:0 auto;", align="center" ng-controller="loginController")
        h2 请登陆
        div
            label(for="inputEmail") 账号
            div
                input(type="text" placeholder="email or name" ng-model="account")
        div
            label(for="inputPassword") 密码
            div
                input(type="password" placeholder="password" ng-model="password")
        input(type="submit" ng-click="userLogin()")

        p {{stat}}

        div(style="height:100em" name="zhandifang")
