extend ./layout/default
block title
    title #{title}

block main-content
    form(method="post" action="/post")
        h3 title
        input(type="text" ng-model="title")
        br
        h3 summary
        textarea(ng-model="summary" rows="2" cols="100")
        br
        h3 content
        textarea(ng-model="content" rows="20" cols="100")
        br
        br
        input(type="submit" value="post" ng-click="userPost()")
