extend ./layout/default
block title
    title #{title}

block main-content
    form(style="padding-top:10em; max-width: 30em; margin:0 auto;", align="center" ng-controller="registerController")
        h2 请注册
        div
            label(for="inputEmail") 用户名
            div
                input(type="text" placeholder="username" ng-model="name")
        div
            label(for="inputPassword") 密码
            div
                input(type="password" placeholder="password" ng-model="password")
        div
            label(for="inputPassword") 确认密码
            div
                input(type="password" placeholder="password again" ng-model="passwordrepeat")
        div
            label(for="inputPassword") 邮箱
            div
                input(type="email" placeholder="email" ng-model="email")
        input(type="submit" ng-click="userRegister()")
        p {{stat}}

        div(style="height:100em" name="zhandifang")



