extend ./layout/default
block title
    title #{title}
block header
    header
        h1 #{title}

block main-content
    form(ng-controller="registerController")
        label 用户名
        input(type="text", required, ng-model="name")
        br
        label 密码
        input(type="password", required, ng-model="password")
        br
        label 确认密码
        input(type="password", required, ng-model="passwordrepeat")
        br
        label 邮箱
        input(type="email", required, ng-model="email")
        br
        input(type="submit" value="注册" ng-click="userRegister()")

        p {{stat}}